body {
	margin: 0;
	padding: 0;
}

.container {
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	line-height: 30px;
	width: 500px;
}

.title {
	text-align: center;

}

.container span {
	margin-top: 10px;
	padding-left: 40px;
	display: inline-block;
	width: 30%;
    vertical-align: top;
}

.container input {
	min-height: 25px;
	display: inline-block;
	width: 50%;
}

#gender input {
	min-height: inherit;
    width: auto;
}

.container textarea {
	display: inline-block;
	margin-top: 10px;
	width: 50%;
}
#music,#sports,#reading,#hobby{
    min-height: inherit;
    width: auto;

}
#sports,#reading,#hobby{
    margin-left: 200px;

}

#submit,
#reset {
	display: inline-block;
	width: auto;
	margin-top: 10px;
	margin-left: 40%;
    border:grey;
    border-style: outset;
}

#reset {
	margin-left: 10%;
}
.table_border{
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}
#myDIV {
    height:300px;
    background-color:#FFFFFF;
  }
img {
    float: left;
}
.floatimage{
    float: right;

}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
}
.a{
    visibility: visible;
}
.b{
    visibility: hidden;
}
.left{
	position: relative;
  left: -30px;

}
.right{
	position: relative;
  left: 50px;

}
.display1{
	display: inline;
	color: orange;
}
.display2{
	display: block;
	color: red;
}
.display3{
	display: inline-block;
	color: yellow;

}